@import '../variables.css';

.post-container {
    width: 80%;
    margin: 15px auto 75px;
    background-color: var(--light-green);
    border-radius: 25px;
    padding: 60px 20px 10px;
}

.post-content {
    width: 100%;
    font-size: 1.1rem;
    color: var(--dark-green);
    border-bottom: var(--main-green) 1px solid;
}

.post-image {
    display: flex;
    justify-content: center;
}

.post-content img{
    max-width: 100%;
    max-height: 1000px;
}

.post-feedback {
    color: var(--dark-green);

}

.post-feedback span {
    color: var(--dark-pink);
    text-decoration: none;
}

.post-feedback span:hover {
    text-decoration: underline;
}

.comment {
    background-color: var(--main-green);
    border-radius: 15px;
    margin: 15px 0;
}

.comment-header {
    background-color: var(--dark-green);
    border-radius: 15px 15px 0px 0px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.comment-header a {
    text-decoration: none;
    color: var(--light-pink);
    margin-left: 15px;
}

.comment-header a {
    color: var(--light-pink);
}

.comment-header a:hover {
    text-decoration: underline;
    color: var(--dark-pink);
}

.comment-header img {
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-green);
}

.comment-content {
    padding: 5px 15px;
}

@media (min-width: 768px) {
    .post-container {
        margin: 50px auto 25px;
    }
}