@import '../variables.css';


.navbar {
    background-color: var(--dark-green);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.navbar p {
    display: none;
}

.navbar a, .nav-search {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    color: var(--light-pink);
    text-decoration: none;
}

.navbar a:hover, .nav-search:hover {
    color: var(--dark-pink);
    border-radius: 10px;
}

#first-item {
    margin-top: 0;
}

.search-bar {
    background-color: var(--dark-pink);
    border-radius: 15px;
    height: 30px;
    padding: 5px 10px;
    z-index: 2;
    position: fixed;
    top: 85vh;
    left: 20vw;
}

.search-bar input, .search-bar button {
    background-color: var(--light-pink);
    color: var(--dark-pink);
}

.search-bar button {
    box-shadow: 0;
}

@media (min-width: 768px) {
    .search-bar {
        top: 40vh;
        left: 8vw;
    }

    .navbar {
        height: 100vh;
        width: auto;
        text-align: left;
    }

    .navbar p {
        display: block;
    }

    .navbar a, .nav-search {
        margin: 10px 0;
        display: block;
    }

    #first-item {
        margin-top: 45px;
    }
}