:root{
  --dark-green: #698C65; 
  --light-green: #EDFFEB;
  --main-green: #B5D8B1;
  --dark-pink: #8C5779;
  --light-pink: #D9B2CB;

  /* talvez eu mude a paleta que estou usando em cima */
  --rosa: #F4B1B8;
  --azul: #AEC6CF;
  --verde: #B5D8B1;
  --amarelo: #F9EACD;
  --lilas: #C7BFE6;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
