:root{
    --dark-green: #698C65; 
    --light-green: #EDFFEB;
    --main-green: #B5D8B1;
    --dark-pink: #8C5779;
    --light-pink: #D9B2CB;
  
    /* talvez eu mude a paleta que estou usando em cima */
    --rosa: #F4B1B8;
    --azul: #AEC6CF;
    --verde: #B5D8B1;
    --amarelo: #F9EACD;
    --lilas: #C7BFE6;
  }